*{margin: 0;padding: 0;text-align: center;position: relative;}
html,body{width: 100%;height: 100%;}
::-webkit-scrollbar { 
		display: none !important;
}
#wrap{width: 100%;height: 500%;}

section{display: none;width: 100%;height: calc(100%/5);overflow: hidden;}

.side-bar{
	position: fixed;
	width: 100px;
	height: 400px;
	background: #fff;
	z-index: 999;
	top: 20%;
	right: 0;
}

#whoAmI{background: #f6ea8c;}

#aboutMe{background: #f26d5b;}

#project1{background: #c03546;}

#project2{background: #492540;}

#github{background: #333030;}
